html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html,body {-webkit-backface-visibility:hidden;}

#header {
    position: absolute;
	top: 0px;
    height: 40px;
    width: 100%;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 3px 10px -6px rgba(50, 50, 50, 0.59);
    -moz-box-shadow:    0px 3px 10px -6px rgba(50, 50, 50, 0.59);
    box-shadow:         0px 3px 10px -6px rgba(50, 50, 50, 0.59);
	background: rgba(255,255,255,0.4);
	-webkit-font-smoothing: subpixel-antialiased !important;
    z-index: 3;
}

#title {
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #222;
	display: block;
    padding-top: 18px;
    text-transform: uppercase;
}

#title span {
    color: lightgray;
}

#menu, #simulate, #calendar {
    position: absolute;
    margin-top: 20px;
    margin-right: 40px;
    right: 0px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
#simulate {
    margin-right: 125px;
}

#calendar {
    margin-right: 80px;
}

#menu:hover, #simulate:hover, #calendar:hover {
    color: lightcoral;
}


#headerButton {
	position: absolute;
	right: 10px;
	top: 12px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

#container {
    width: 100%;
}
#content {
    background: white;
}

#network {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: block;
    background: white;
    position: absolute;
    top: 0px;
    z-index: 0;
}

#report-drawer {
    position: absolute;
    right: -90%;
    top: 0px;
    width: 90%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    -webkit-box-shadow: -5px 0px 5px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    -5px 0px 5px rgba(50, 50, 50, 0.45);
    box-shadow:         -5px 0px 5px rgba(50, 50, 50, 0.45);
    z-index: 10;
}

#report-drawer-close {
    position: absolute;
    left: 15px;
    top: 15px;
    color: darkslategrey;
    cursor: pointer;
}

#report-drawer-close:hover {
    color: whitesmoke;
}

#stream {
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    height: 60%;
}

#pie-report {
    width: 18%;
    height: 60%;
    margin-top: 20px;
    display: none;
}
.disabled circle {
    fill: white!important;
}

#qualities-chart {
    width: 90%;
    height: 30%;
    margin-top: 1%;
    margin-left: 5%;
}
.nv-point-paths, #stream .nv-groups {
    display: none;
}

.nv-legend {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #706f6f;
    text-transform: uppercase;
}

.nv-axis {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    fill: gray;
    text-transform: uppercase;
}

.nv-x {
    transform: translate(0,480)!important;
}
.network-slider-title {
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.network-slider-next {
    margin-right: 10px;
}

.network-slider-bar {
    border: none!important;
}

#info-drawer {
    position: absolute;
    left: -250px;
    height: 100%;
    width: 250px;
    background: rgba(255,255,255,0.7);
    -webkit-box-shadow: 5px 0px 5px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    5px 0px 5px rgba(50, 50, 50, 0.45);
    box-shadow:         5px 0px 5px rgba(50, 50, 50, 0.45);
    z-index: 10;
}

#info-drawer h1 {
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 20px;
    color: darkslategrey;
    width: 100%;
    text-align: center;
}

#info-drawer-close {
    position: absolute;
    right: 15px;
    top: 15px;
    color: darkslategrey;
    cursor: pointer;
}

#info-drawer-close:hover {
    color: whitesmoke;
}

#info-drawer-content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#info-drawer h2 {
    width: 280px;
    line-height: 150%;
    font-size: 12px;
    word-wrap: break-word;
    padding-right: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
}

#info-drawer h3 {
    width: 120px;
    float: left;
    font-size: 12px;
    line-height: 150%;
    word-wrap: break-word;
    padding-right: 10px;
    color: lightgray;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
}

.info-value {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #706f6f;
    text-transform: uppercase;
}

.info-chart {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    display: inline-block;
    height: 1px;
    content: " ";
    width: 100%;
    position: relative;
    left: 0;
    top: -8px;
}

.info-bar {
    display: inline-block;
    width: 60%;
    position: absolute;
    left: 0;
    top: -6px;
    background-color: black;
    height: 12px;
    moz-border-radius: 300px 300px 300px 300px;
    -webkit-border-radius: 300px 300px 300px 300px;
    border-radius: 300px 300px 300px 300px;
}

#timeline-toolbar {
    position:absolute;
    width: 300px;
    height: 40px;
    display: block;
    right: 10px;
    bottom: 250px;
    display: none;
}

.btn-group a {
    font-family: 'Open Sans',sans-serif;
}
#timeline {
    width: 100%;
    height: 250px;
    background: #F5F5F5;
    clear:both;
    z-index: 1;
    position: absolute;
    bottom: 0px;
}

div.timeline-event {
    color: #FFFFFF;
    border-color: #D8D8D8;
    background-color: #0088cc;
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
}

div.timeline-event-range {
    border:none;
}
div.timeline-axis-text {
    color: #7C7C7C;
    padding: 4px;
    white-space: nowrap;
    font-family: 'Open Sans';
    font-size: 12px;
}

div.timeline-axis-text-major {
    font-weight: bold;
}

div.timeline-groups-text {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding-top: 12px;
    color: #7C7C7C;
}

div.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    margin-bottom: -37px;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 25px;
    width:auto;
    max-width: 400px;
    margin: 0 auto;
}

.white-popup-no-limit {
    position: relative;
    background: #FFF;
    padding: 25px;
    width:auto;
    max-width: 900px;
    margin: 0 auto;
}

.introjs-arrow.top {
    right: 10px;
}

.introjs-tooltip {
    right: 0px;
}

/*

====== Move-from-top effect ======

*/
.mfp-move-from-top {
    /* start state */
    /* animate in */
    /* animate out */ }
.mfp-move-from-top .mfp-content {
    vertical-align: top; }
.mfp-move-from-top .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s;
    transform: translateY(-100px); }
.mfp-move-from-top.mfp-bg {
    opacity: 0;
    transition: all 0.2s; }
.mfp-move-from-top.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: translateY(0); }
.mfp-move-from-top.mfp-ready.mfp-bg {
    opacity: 0.8; }
.mfp-move-from-top.mfp-removing .mfp-with-anim {
    transform: translateY(-50px);
    opacity: 0; }
.mfp-move-from-top.mfp-removing.mfp-bg {
    opacity: 0; }

/*

====== 3d unfold ======

*/
.mfp-3d-unfold {
    /* start state */
    /* animate in */
    /* animate out */ }
.mfp-3d-unfold .mfp-content {
    perspective: 2000px;
    -webkit-perspective: 2000px;
}
.mfp-3d-unfold .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d; /* Safari and Chrome */
    transform: rotateY(-60deg); }
.mfp-3d-unfold.mfp-bg {
    opacity: 0;
    transition: all 0.5s; }
.mfp-3d-unfold.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: rotateY(0deg); }
.mfp-3d-unfold.mfp-ready.mfp-bg {
    opacity: 0.8; }
.mfp-3d-unfold.mfp-removing .mfp-with-anim {
    transform: rotateY(60deg);
    opacity: 0; }
.mfp-3d-unfold.mfp-removing.mfp-bg {
    opacity: 0; }

/*

FADE

*/

.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.2;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

input.span2 {
    width: 320px!important;
}

#settings-form {
    margin-top: 20px;
    margin-left: 10px;
}

#save-settings {
    margin-top: 10px;
    margin-left: 150px;
}